import("grid");

export(drawExpression)

S3method(drawDetails, lineBox);
S3method(drawDetails, functionText);
S3method(drawDetails, listBox);
S3method(drawDetails, vectorBox);
S3method(drawDetails, matrixBox);
S3method(drawDetails, dataframeBox);
